#page{
    background-color: #FDC641;
}
div#header{
    background-color: #5B8AAE;
    color:#FFFFFF;
    text-shadow: 2px 2px #000;
}
div#footer{
    background-color: #5B8AAE;
    color:#FFFFFF;
    text-shadow: 2px 2px #000;
}